<!DOCTYPE html>
<html>

<head>
  <title>ProChat</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <%= render 'devise/shared/navigation' %>
  <section class="section">
    <div class="container">
      <%- flash.each do |type, msg| -%>
      <% if type == "alert" %>
      <div class="message is-danger">
        <div class="message-header">
          <%= type.capitalize %>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body"><%= msg %></div>
      </div>
      <% elsif type == 'notice' %>
      <%= content_tag :div, class: "message is-success" do %>
      <div class="message-header">
        <%= type.capitalize %>
        <button class="delete" aria-label="delete"></button>
      </div>
      <div class="message-body"><%= msg %></div>
      <% end %>
      <% end %>
      <%- end -%>
      <%= yield %>
    </div>
  </section>
</body>

</html>